/* Global */
*{
    margin: 0px;
    padding: 0px;
}

@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat.ttf') format('truetype'); 
}
@font-face{
    font-family: 'Poppins-Light';
    src: url('../fonts/Poppins-Light.ttf') format('truetype'); 
}

.Font-m{
    font-family: 'Montserrat';
}
body{
    font-family: 'Poppins-Light';
}

/* navigation */
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.nav_div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav_div2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 75px;
}
.nav_div-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;
}

/* hero section */
.hero{
    background-image: url(../asset/livinrom.png);
    height: 716.83px;
}
.hero-div{
    width: 643px;
    height: 443px;
    background-color: #FFF3E3;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* padding-left: 49px;
    padding-top: 62px; */
}



